<!DOCTYPE html>
<title>NDNts Personal CA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/purecss@1.0.1,npm/purecss@1.0.1/build/grids-responsive-min.min.css">
<link rel="stylesheet" href="style.css">

<div>
<nav class="pure-menu pure-menu-horizontal">
<a class="pure-menu-heading pure-menu-link" href="./">NDNts Personal CA</a>
<ul class="pure-menu-list">
<li class="pure-menu-item"><a class="pure-menu-link" href="profile.html">profile</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="keychain-list.html">keychain</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="manual-request.html">request</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="certs-list.html">published</a></li>
</ul>
</nav>
</div>
