<%- include("_header") %>

<main>

<h1>Import from ndnsec</h1>

<p>If you have keys and certificates in ndn-cxx KeyChain of the current user, you can import them to the CA keychain.</p>

<form action="keychain-import-ndnsec.cgi" method="post" class="pure-form pure-form-stacked">
<fieldset>
<button type="submit" class="pure-button pure-button-primary">Proceed</button>
</fieldset>
</form>

</main>

<%- include("_footer") %>
