<%- include("_header") %>

<main class="pure-g">
<div class="pure-u-1">

<h1>New CA Profile</h1>

<form action="profile-new.cgi" method="post" class="pure-form pure-form-stacked">
<fieldset>

<label for="f_cert">CA certificate</label>
<select id="f_cert" name="cert" required>
<% for (const cert of certNames) { -%>
<option value="<%= cert %>"><%= helper.altUri(cert) %></option>
<% } -%>
</select>

<label for="f_info">description</label>
<textarea id="f_info" name="info" rows="5" cols="80"></textarea>

<label for="f_validdays">max validity period (days)</label>
<input id="f_validdays" name="validdays" type="number" value="30" min="1" max="720">

<button type="submit" class="pure-button pure-button-primary">Submit</button>

</fieldset>
</form>

</div>
</main>

<%- include("_footer") %>
