<%- include("_header") %>

<div class="pure-g">
<main class="pure-u-1">

<h1>CA Profile</h1>

<% if (profile) { -%>
<pre><%= profile %></pre>
<p><a class="pure-button pure-button-primary" href="profile.data">Download CA Profile</a></p>
<% } else { -%>
<p>Certificate Authority inactive.</p>
<% } -%>

<p><a class="pure-button" href="profile-new.html">New CA Profile</a></p>

</main>
</div>

<%- include("_footer") %>
