html { position:relative; min-height:100%; background:url(subtlepatterns_double-bubble-outline.png); }
body { padding:0 0.2rem 6rem 0.2rem; }
@media(min-width:980px) { body { padding:0 3rem 6rem 3rem; } }
.pure-menu-heading { text-transform: none; }
footer { position:absolute; right:0; bottom:0; left:0; padding:1rem 3rem 1rem 3rem; }
.pure-table .pure-button { font-size:70%; }
table form, p form { display:inline-block; }
